body {
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

h1{
    width: 100%;
    margin: 0 -50%;
    text-align: center;
    font-size: 8rem;

}

@keyframes spin {


    100% {transform: rotate(360deg);}
}

.spinning{

    position: absolute;
    top: 50%;
    left: 50%;
    colour: black;
    animation: spin 10s linear infinite;
}