body {
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

h1{
    width: 100%;
    margin: 0 -50%;
    text-align: center;
    font-size: 8rem;
}

@keyframes spin {

    100% {transform: rotateY(360deg) rotate(360deg);}
}

.letter{

    display: inline-block;
    text-align: center;
    color: #000;
    margin: 10px;


    animation: spin 2s normal infinite;

}

