body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@keyframes colourCycle{
    0% {color: red;}
    25% {color: yellow;}
    50% {color: blue;}
    100% {color: green;}
}

.colourCycling{
    font-size: 8rem;
    padding: 50px;
    animation: colourCycle 2s alternate-reverse infinite;
}