body {
    height: 4000px;
    font-family: monospace;
    font-size: 14px;
    background: linear-gradient(0deg, #22c1c2 0%, #fdbb2d 100%);

}

#fixed {
      position: fixed;
      left: 10px; 
      top: 50px;
      text-align: right;
}

#cat {
    position: absolute;
    left: 2000px;
    top: 2500px;
    font-size: 12px;
    padding: 0 150px;

}

#wrong {
      position: aboslute;
      left: 3500px;
      top: 3500px;
      font-size: 18px;
      padding: 100px;

}

a {
   color: black;
   background: yellowgreen;
   text-decoration: none;

}

a:hover {
    text-decoration: underline
}
